<div class="container mt-2">
    <div class="row">
        {% for locale in locales %}
            <div class="col-xs-1 lang_block d-flex align-items-center">
                <a href="{{ path('sylius_shop_switch_locale', {'code': locale.code}) }}">
                    {{ locale.code | split("_")[0] | upper }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>