<a class="navbar-brand logo" data-bs-hover-animate="swing" href="{{ url }}">CREART3D</a>
<button data-toggle="collapse" class="navbar-toggler visible-xs hidden-md" data-target="#navcol-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="navbar-toggler-icon"></span>
</button>