<div class="row post-top-meta">
    <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
        
        <img class="author-thumb" src="{{ avatar }}" alt="{{ user.firstName ~ " " ~ user.lastName }}">
        
    </div>
    <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
        <a target="_blank" class="link-dark" href="#">{{  user.firstName ~ " " ~ user.lastName }}</a>
        {# <span class="author-description">This is the 
            author box. Write a short description of the author here. You are 
            currently previewing Mediumish demo, a Jekyll template compatible with 
            Github pages.
        </span> #}
    </div>
</div>