{% extends "@SyliusShop/layout.html.twig" %}

{% block title %}Canales de soporte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/static/fontawesome/css/font-awesome.css')}}">
{% endblock %}

{% block body %}
<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Canales de soporte</h2>
            </div>
            <div class="block-content">
                <div class="faq-item">
                    <h4 class="question">impresiones 3D <i class="fa fa-telegram" title="Telegram"></i></h4>
                    <div class="answer">
                        <a href="https://t.me/TresDePrintCuba">Comunidad impresiones 3D Cuba</a>
                    </div>
                </div>

            </div>
        </div>
        </div>

        
    </section>
</main>
{% endblock %}